body {
    background: lightgreen;
    font-family:'Courier New', Courier, monospace;
}
h1 {
    color: black;
    text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: whitesmoke;
}
.assign img {
    width: 200px;
    padding: 10px;
}