body {
    background: lightgreen;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
}
h1 {
    color: black;
    text-align: center;
    width: 100%;
    display: block;
}
h2:hover{
    color: lightgreen;
    text-align: center;
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: black;
}
.assign {
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 10px;
    margin-bottom: 30px;
    padding: 22px;
    width: 20%;
    box-shadow: 8px 8px lightgray;
    display: block;
}
.assign img {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
    display: block;
    margin: auto;
}